<body>
<div class="container w-100">

    <div class="row w-100 mt-5">
        <div class="col-md-12">
            <h1 class="text-mospace text-center"> Sejam bem vindos ao meu blog de Tecnologia!</h1>
        </div>
    </div>

    <div class="row w-100 mt-4 mb-4">
        <div class="col-md-12 ">
            <p class="text-justify text-monospace">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti inventore cum, quia facilis placeat debitis fugiat vel? Vitae iure, tempora deleniti possimus sunt consectetur necessitatibus animi temporibus eius et atque?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, minus. Aspernatur blanditiis odit, dicta aliquam voluptate fugiat eius ex deleniti labore assumenda perspiciatis, doloribus ipsum animi nam quia modi! Consequuntur.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde fugiat quisquam accusamus, praesentium officiis reiciendis ducimus voluptas nisi provident nulla dolore error eaque, culpa dignissimos expedita molestias repellat obcaecati ipsum.
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo nobis nulla optio fugiat in, unde consequuntur impedit magni! Cumque eum debitis, qui id minus voluptate quae sunt blanditiis corrupti quis!
            </p>
        </div>
    </div>
</div>

    <div class="parallax"></div>

    <div class="row w-100 mt-5 mb-5">
        <div class="col-md-12 w-100 d-flex justify-content-center">
            <button class="btn btn-outline-dark text-uppercase font-weight-bold" routerLink="/feed">Ver o feed</button>
        </div>
    </div>
</body>
