<body>
<div class="container w-100">

    <div class="row w-100 mt-5">
        <div class="col-md-12">
            <h1 class="text-mospace text-center"> Sejam bem vindos ao meu blog!</h1>
        </div>
    </div>

    <div class="row w-100 mt-4 mb-4">
        <div class="col-md-12 ">
            <p class="text-justify text-monospace">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, adipisci, eos voluptatem aliquid veniam vero illum in neque dicta enim ex earum exercitationem ipsum quam quibusdam similique suscipit nam! Tempora!
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora deserunt praesentium asperiores veniam sapiente assumenda eius corrupti dolore, quo ipsam odio vel adipisci nihil veritatis qui, optio eaque laborum natus!
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem voluptates similique sint temporibus adipisci voluptate, quibusdam esse deleniti tenetur laboriosam distinctio et illo animi, expedita suscipit aut quam totam optio!
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat illo perspiciatis delectus adipisci quidem, cumque aut! Maxime at voluptate, repellat et adipisci ea corrupti, ut, similique nobis nulla architecto tempora.
            </p>
        </div>
    </div>
</div>

    <div class="parallax"></div>

    <div class="row w-100 mt-5 mb-5">
        <div class="col-md-12 w-100 d-flex justify-content-center">
            <button class="btn btn-outline-dark text-uppercase font-weight-bold" routerLink="/feed">Ver o feed</button>
        </div>
    </div>
</body>
