.parallax {
    background-image: url("https://timeline.canaltech.com.br/346545.700/smartphone-vicia-conheca-o-impacto-que-o-aparelho-causa-no-seu-cerebro-161894.jpg");
  
    min-height: 500px;
  
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
